/* css styles */

.index-grid {
  @extend .grid;
  display: flex;
  justify-content: space-between;
}

.index-g-col-4 {
  @extend .g-col-4;
  flex: 1;
  /* Ensures all columns grow to fill the same space */
  margin: 0 5px;
  /* Adds a small margin between columns */
  /*text-align: center;*/
}
